Terraform/environments/*/.terraform/*
Terraform/environments/*/.terraform*
Terraform/environments/*/plan*
Terraform/environments/*/*.state
Terraform/environments/*/.local-state
Terraform/environments/*/*-key
*.tfstate
*.backup
/.vscode
Bash/*.log
Bash/*.error
Bash/*.env